---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../blog/*.md', { eager: true }));
  return [
    { params: { tag: "GRWM" }, props: {posts: allPosts}},
    { params: { tag: "Mukbang" }, props: {posts: allPosts}},
    { params: { tag: "Recipe" } ,props: {posts: allPosts}},
    { params: { tag: "Vlog" } ,props: {posts: allPosts}},
   
  ];
}

---
const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
